# Visual Studio
.vs/
*.user
*.suo

# Build outputs
bin/
obj/

# Azure Functions
local.settings.json

# Testing
TestResults/

# Publish
.publish/

# Logs
*.log
``
/KAI.Integrations.Unanet/KAI.Integrations.Unanet/appsettings.Development.json
/KAI.Integrations.Unanet/KAI.Integrations.Unanet/appsettings.Local.json
